* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Smooch Sans", sans-serif;
}

body {
  background-color: var(--w-color);
}

:root {
  --w-color: #fdfdfe;
  --b-color: #202946f3;
  --o-color: #ec6d4e;
}

.login-register-sec {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-register-sec__lbl {
  font-size: 1.5rem;
  color: var(--b-color);
}
.login-register-sec__form {
  width: 80%;
  max-width: 550px;
  margin: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 10px 0 10px 0;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.1843137255);
}
.login-register-sec__form--inpts {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.login-register-sec__form--inpts input {
  border: none;
  border-left: 1.5px solid var(--b-color);
  color: var(--b-color);
  padding: 0.2rem 0.6rem;
  font-size: 1.1rem;
  outline: none;
}
.login-register-sec__form--submit {
  border: 0.5px solid var(--o-color);
  background-color: var(--w-color);
  color: var(--o-color);
  font-weight: bold;
  box-shadow: 1px 1px 14px rgba(78, 78, 78, 0.2941176471);
  border-radius: 12px;
  padding: 0.7rem;
  font-size: 1rem;
}
.login-register-sec p {
  font-size: 1.2rem;
  color: var(--b-color);
}
.login-register-sec p a {
  color: var(--o-color);
}

.home-sec {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-sec__header {
  z-index: 100;
  position: fixed;
  top: 0.2rem;
  margin: 0.5rem 0;
  width: 95%;
  padding: 1.5rem 1.2rem;
  background-color: var(--b-color);
  border-radius: 12px;
  box-shadow: 1px 1px 14px rgba(82, 82, 82, 0.281);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-sec__header--title a {
  color: var(--w-color);
  text-decoration: none;
}
.home-sec__header--user span {
  color: var(--w-color);
  font-size: 2rem;
  overflow: hidden;
}
.home-sec__landing {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-left: 12vw;
}
.home-sec__landing--phrase {
  font-size: 2.6rem;
  color: var(--b-color);
}
.home-sec__landing--registerBtn {
  font-size: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem;
  background-color: var(--o-color);
  border-radius: 14px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.3411764706);
  text-decoration: none;
  color: var(--w-color);
}
.home-sec__landing--registerComp {
  display: none;
}

.projects-sec {
  margin: 17vh 0 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects-sec__lbl {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--b-color);
}
.projects-sec .projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  padding: 3rem 0.3rem;
  width: 100%;
}
.projects-sec .projects-container .projectContainer {
  width: 46%;
  max-width: 240px;
  background-color: var(--w-color);
}
.projects-sec .projects-container .projectContainer__info {
  padding: 2rem 1rem;
  margin: 0.5rem 0.7rem;
  box-shadow: 1px 1px 15px rgba(99, 99, 99, 0.308);
  border-radius: 15px 0 0 0;
}
.projects-sec .projects-container .projectContainer__info--title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.projects-sec .projects-container .projectContainer__info--desc {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.projects-sec .projects-container .projectContainer__info--detail {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem;
  color: var(--o-color);
  border: 0.2px solid var(--o-color);
  border-radius: 12px;
  box-shadow: 1px 1px 15px rgba(134, 134, 134, 0.4117647059);
  text-decoration: none;
}
.projects-sec .projects-container .projectContainer__options {
  margin: 0.2rem 0.7rem 0.7rem 0.7rem;
  padding: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.3rem;
  background-color: var(--b-color);
  box-shadow: 1px 1px 15px rgba(99, 99, 99, 0.479);
  border-radius: 0% 0% 15px 0%;
}
.projects-sec .projects-container .projectContainer__options button {
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  margin: 0 1%;
}
.projects-sec__createProject {
  background-color: transparent;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  border: 0.2px solid var(--o-color);
  box-shadow: 2px 2px 15px rgba(119, 119, 119, 0.3843137255);
  color: var(--o-color);
}

.appInfo-sec {
  height: 100vh;
  display: grid;
  grid-template-rows: 4;
}
.appInfo-sec__div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.appInfo-sec__div--title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.appInfo-sec__div--desc {
  font-size: 1.1rem;
}
.appInfo-sec .divRight {
  text-align: right;
  color: var(--o-color);
}
.appInfo-sec .divLeft {
  background-color: var(--b-color);
  color: var(--w-color);
}

.projectDetail-sec {
  min-height: 100vh;
  text-align: center;
  padding: 5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectDetail-sec__header {
  position: absolute;
  top: 1.6rem;
}
.projectDetail-sec__header--title {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.projectDetail-sec__timer {
  display: grid;
  grid-template-rows: 2;
  place-items: center;
  gap: 1.5rem;
  margin-top: 1.6rem;
  width: 70%;
  max-width: 500px;
  border-radius: 14px;
  box-shadow: 1px 1px 14px rgba(94, 94, 94, 0.3411764706);
}
.projectDetail-sec__timer .timer-container {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem 0 1rem;
  color: var(--b-color);
}
.projectDetail-sec__timer .timer-container__lbl {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.projectDetail-sec__timer .timer-container span {
  font-size: 2.2rem;
}
.projectDetail-sec__timer .timer-container__options {
  margin: 1rem 0;
}
.projectDetail-sec__timer .timer-container__options button {
  background-color: transparent;
  border: none;
  margin: 0 0.1rem;
}
.projectDetail-sec__timer .timer-container__options button span {
  color: var(--o-color);
  font-size: 1.6rem;
}
.projectDetail-sec__timer .weekUssage-container {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0rem 1rem 1.5rem 1rem;
}
.projectDetail-sec__timer .weekUssage-container__lbl {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.projectDetail-sec__timer .weekUssage-container__sub-container--day {
  background-color: var(--o-color);
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 0.8rem;
  margin: 0.3rem;
  display: flex;
  gap: 1rem;
}

.tasks-sec {
  margin: 0 0 1.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.tasks-sec header {
  padding: 1rem 2rem;
  width: 85%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-sec header .header--title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--b-color);
}
.tasks-sec header .header--createTask {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--o-color);
  border: 1px solid var(--o-color);
  background-color: transparent;
  box-shadow: 1px 1px 10px rgba(139, 139, 139, 0.411);
  border-radius: 12px;
}
.tasks-sec__tasks-container {
  margin: 1rem 0.5rem 1.5rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.tasks-sec__tasks-container .task-container {
  text-align: left;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2196078431);
  width: 85%;
  max-width: 500px;
}
.tasks-sec__tasks-container .task-container__info {
  border-radius: 10px 0 0px 0;
  padding: 0.6rem;
  background-color: var(--w-color);
  color: var(--b-color);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2196078431);
}
.tasks-sec__tasks-container .task-container__info--title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.tasks-sec__tasks-container .task-container__info p {
  font-size: 0.9rem;
}
.tasks-sec__tasks-container .task-container__options {
  text-align: center;
  margin-top: 0.4rem;
  background-color: var(--b-color);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2196078431);
  border-radius: 0 0 10px 0;
}
.tasks-sec__tasks-container .task-container__options button {
  background-color: var(--b-color);
  border: none;
  color: var(--w-color);
  margin: 0.4rem 0.6rem 0.2rem 0.6rem;
}
.tasks-sec__tasks-container .task-container__options button span {
  font-size: 1.3rem;
  overflow: hidden;
}
.tasks-sec__tasks-container--seAll {
  font-size: 1.1rem;
  color: var(--o-color);
  border-bottom: 1px solid var(--o-color);
}

.edit-t-p {
  width: 95%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: nowrap;
}
.edit-t-p label {
  font-size: 1.1rem;
  text-align: center;
  color: var(--b-color);
}
.edit-t-p__form--inputs {
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  border-radius: 10px 0 0 0;
  box-shadow: 1px 1px 15px rgba(90, 90, 90, 0.37);
  background-color: #fff;
}
.edit-t-p__form--inputs div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.edit-t-p__form--inputs div label {
  margin: 0.5rem;
  font-weight: bold;
  color: var(--b-color);
}
.edit-t-p__form--inputs div input, .edit-t-p__form--inputs div select {
  margin: 0 0.5rem;
  border: none;
  border-left: 1.5px solid var(--b-color);
  background: linear-gradient(to right, var(--b-color), rgba(32, 41, 70, 0.231372549));
  color: var(--w-color);
  padding: 0.2rem 0.5rem;
  outline: none;
}
.edit-t-p__form--inputs div input option, .edit-t-p__form--inputs div select option {
  background-color: var(--b-color);
}
.edit-t-p__form--btns {
  text-align: center;
  background-color: var(--b-color);
  margin: 0.4rem 1rem 1rem 1rem;
  border-radius: 0 0 10px 0;
  box-shadow: 1px 1px 15px rgba(90, 90, 90, 0.384);
}
.edit-t-p__form--btns button {
  background-color: #000;
  border: none;
  color: var(--w-color);
  margin: 0.4rem 0.6rem 0.3rem 0.6rem;
}
.edit-t-p__form--btns button span {
  font-size: 1.4rem;
  overflow: hidden;
}

.notes-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.notes-sec__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--b-color);
  color: var(--w-color);
  width: 90%;
  max-width: 480px;
  padding: 0.3rem 1.5rem;
  border-radius: 10px 0 10px 0;
  overflow: hidden;
}
.notes-sec__header label {
  font-size: 1.2rem;
}
.notes-sec__notes-container {
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 85%;
  max-width: 480px;
}
.notes-sec__notes-container .note-container {
  text-align: left;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2196078431);
  color: var(--b-color);
  border-radius: 10px 0 10px 0;
  width: 90%;
  padding: 0.5rem;
}
.notes-sec__notes-container .note-container__title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.notes-sec__notes-container .note-container p {
  font-size: 0.9rem;
  margin: 0.2rem;
}
.notes-sec__notes-container .note-container__options {
  padding: 1rem 0 0.3rem 0;
  text-align: center;
}
.notes-sec__notes-container .note-container__options button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 0.2rem 0.2rem 0 0.2rem;
  margin: 0 0.3rem;
  color: var(--o-color);
}
.notes-sec__notes-container .note-container__options button span {
  overflow: hidden;
}
.notes-sec__createNote {
  margin: 1.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--o-color);
  border: 1px solid var(--o-color);
  background-color: transparent;
  box-shadow: 1px 1px 10px rgba(139, 139, 139, 0.411);
  border-radius: 12px;
}
.notes-sec .edit-note-label {
  margin-top: 3rem;
  color: var(--b-color);
}
.notes-sec .edit-note {
  margin: 1rem 0 2rem 0;
  padding: 0.7rem;
  max-width: 450px;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 1px 1px 10px rgba(122, 122, 122, 0.397);
}
.notes-sec .edit-note label {
  text-align: center;
}
.notes-sec .edit-note__form--inps div {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
.notes-sec .edit-note__form--inps div label {
  font-weight: bold;
  margin: 0.5rem;
  color: var(--b-color);
}
.notes-sec .edit-note__form--inps div input {
  border: none;
  border-left: 1.5px solid var(--b-color);
  background: linear-gradient(to right, var(--b-color), #fff);
  color: var(--w-color);
  padding: 0.1rem;
  margin: 0 0.5rem;
}
.notes-sec .edit-note__form--btns {
  text-align: center;
  padding: 0.3rem 0;
}
.notes-sec .edit-note__form--btns button {
  margin: 0.5rem 0.3rem 0 0.3rem;
  padding: 0.1rem 0.1rem 0 0.1rem;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  color: var(--b-color);
}
.notes-sec .edit-note__form--btns button span {
  overflow: hidden;
}

.createModal {
  z-index: 100;
  position: fixed;
  background-color: var(--w-color);
  padding: 1.7rem;
  text-align: left;
  box-shadow: 2px 2px 15px rgba(58, 58, 58, 0.541);
  border-radius: 10px 0 10px 0;
  width: 90%;
  max-width: 550px;
}
.createModal__label {
  text-align: center;
  color: var(--b-color);
  margin-bottom: 1.5rem;
}
.createModal__sub-container {
  margin: 1.2rem;
  display: flex;
  flex-wrap: nowrap;
}
.createModal__sub-container input, .createModal__sub-container select {
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0.5rem;
  padding: 0.25rem;
  border: none;
  border-bottom: 0.5px solid var(--b-color);
  background-color: transparent;
  outline: none;
}
.createModal .taskSubContainer {
  flex-direction: column;
  text-align: center;
}
.createModal__options {
  margin-top: 2.2rem;
  text-align: center;
}
.createModal__options button {
  padding: 0.1rem 0.4rem;
  border: none;
  border-left: 2px solid var(--b-color);
  color: var(--b-color);
  background-color: var(--w-color);
  margin: 0 0.2rem;
}

.userManager-sec {
  height: 66vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}
.userManager-sec__lbl {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--b-color);
}
.userManager-sec__data {
  color: var(--b-color);
  margin: 2rem;
  font-size: 1.2rem;
}
.userManager-sec__logOut {
  padding: 0.6rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--o-color);
  color: var(--o-color);
  box-shadow: 1px 1px 14px rgba(95, 95, 95, 0.1176470588);
  border-radius: 12px;
}

.footer-sec {
  margin: 3rem 0.6rem 0.6rem 0.6rem;
  padding: 2rem;
  border-radius: 14px;
  background-color: var(--b-color);
  color: var(--w-color);
  box-shadow: 1px 1px 14px rgba(94, 94, 94, 0.6156862745);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-sec__sub-sec label {
  font-size: 1.8rem;
  font-weight: bold;
}
.footer-sec__sub-sec p {
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
.footer-sec__sub-sec p a {
  text-decoration: none;
  color: var(--o-color);
}
.footer-sec .developBy {
  display: flex;
  flex-direction: column;
}
.footer-sec .developBy a {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25%;
  margin: 0.6rem 0.2rem;
}
.footer-sec .developBy a svg {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}

.arrow-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--w-color);
  background-color: var(--b-color);
  border-radius: 12px;
  padding: 0.4rem;
}

.hidden {
  display: none;
}

span {
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .projects-sec .projects-container .projectContainer {
    width: 32%;
  }
}
@media screen and (min-width: 768px) {
  .home-sec__header {
    width: 98%;
  }
  .home-sec__landing {
    margin-left: 25vw;
  }
  .home-sec__landing--phrase {
    font-size: 3rem;
  }
  .projectDetail-sec__timer {
    grid-template-columns: 45% 55%;
    grid-template-rows: 1;
    gap: 0;
    padding: 1rem;
  }
  .projectDetail-sec__timer .timer-contaienr {
    grid-column: 1;
    width: auto;
    padding: 1rem;
  }
  .projectDetail-sec__timer .weekUssage-container {
    grid-column: 2;
    grid-row: 1;
    padding: 1rem;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .projectDetail-sec {
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh auto;
    padding: 6rem 0.5rem 1rem 0.5rem;
  }
  .projectDetail-sec .tasks-sec {
    grid-column: 1;
    grid-row: 1/3;
    align-self: start;
    margin-top: 10vh;
  }
  .projectDetail-sec .notes-sec {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    margin-top: 5vh;
  }
  .projectDetail-sec__timer {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
  }
  .home-sec__landing {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }
  .home-sec__landing--registerBtn {
    display: none;
  }
  .home-sec__landing--registerComp {
    padding: 0.8rem;
    display: flex;
  }
  .home-sec__landing--registerComp span {
    display: none;
  }
  .appInfo-sec {
    height: 100vh;
  }
  .appInfo-sec__div {
    padding: 2rem 2.5rem;
  }
  .appInfo-sec__div--title {
    font-size: 2rem;
  }
  .appInfo-sec__div--desc {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1920px) {
  .tasks-sec__tasks-container .task-container {
    max-width: 700px;
  }
  .notes-sec__notes-container {
    max-width: 680px;
  }
  .notes-sec__header {
    max-width: 680px;
  }
  .home-sec__landing--phrase {
    font-size: 4.2rem;
    width: 25%;
  }
  .home-sec__landing--registerComp {
    width: 30%;
  }
  .home-sec__landing--registerComp form {
    max-width: 400px;
  }
  .home-sec__landing--registerComp label {
    font-size: 1, 8rem;
  }
  .home-sec__landing--registerComp input {
    margin: 0.1rem;
    font-size: 1.6rem;
  }
  .home-sec__landing--registerComp button {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .projectDetail-sec .notes-sec__header {
    max-width: 700px;
  }
  .projectDetail-sec__timer {
    max-width: 700px;
    padding: 3rem 1rem;
  }
}/*# sourceMappingURL=styles.css.map */